[submodule "tmux-powerline"]
	path = tmux-powerline
	url = https://github.com/erikw/tmux-powerline.git
[submodule "vim-airline"]
	path = vim-airline
	url = https://github.com/bling/vim-airline.git
[submodule "powerline-fonts"]
	path = powerline-fonts
	url = https://github.com/Lokaltog/powerline-fonts.git
[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "nerdtree"]
	path = nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "syntastic"]
	path = syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "nerdcommenter"]
	path = nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "tmuxinator"]
	path = tmuxinator
	url = https://github.com/tmuxinator/tmuxinator.git
[submodule "vim-colorschemes"]
	path = vim-colorschemes
	url = https://github.com/flazz/vim-colorschemes.git
[submodule "gitignore"]
	path = gitignore
	url = https://github.com/github/gitignore.git
[submodule "Cpp11-Syntax-Support"]
	path = Cpp11-Syntax-Support
	url = https://github.com/thynson/Cpp11-Syntax-Support.git
